# Ignore virtual environment
venv_audio_tool/

# Ignore system-specific files
.DS_Store             # macOS system file
Thumbs.db             # Windows system file

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/project files
.idea/                # JetBrains IDE files
.vscode/              # VSCode settings
*.iml                 # IntelliJ IDEA files

# Ignore output and temp files
output_audio/         # Folder for processed audio files
input_audio/          # Folder for input audio files
